{% load i18n %}

<div class="pull-right" style="margin-right: 15px;">
  <div class="dropdown {{ dropdirection }}">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      {% trans 'actions' %}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-large row text-right pull-right">
      <li>
        <a href="{% url 'admissions:doctorate-create' %}">
          {% trans "Create new doctorate admission" %}
        </a>
      </li>
    </ul>
  </div>
</div>
