{% load i18n %}
{% if categories %}
  <h4>{% trans "ECTS added" context "summary" %}</h4>
  <p>
    {% blocktrans with added=added|floatformat validated=validated|floatformat trimmed %}
      {{ added }} ECTS added with {{ validated }} validated by the CDD.
    {% endblocktrans %}
    {% if display_table %}
      <a data-toggle="collapse" href="#show-details" aria-expanded="false" aria-controls="show-details">
        {% trans "Show details" %}
      </a>
      </p>
    {% endif %}

  {% if display_table %}
    <div class="collapse" id="show-details">
      <table class="table table-condensed table-bordered">
        <thead>
        <tr>
          <th>{% trans "Reporting categories" %}</th>
          <th>{% trans "Submitted" %}</th>
          <th>{% trans "Validated" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for category_label, counts in categories.items %}
          {% if counts.0 or counts.1 %}
            <tr>
              <th>{{ category_label }}</th>
              <td>{{ counts.0|floatformat }}</td>
              <td>{{ counts.1|floatformat }}</td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endif %}
