{% extends "layout.html" %}
{% load bootstrap3 i18n osis_role pagination static %}

{% block breadcrumb %}
  <li class="active">{% trans "Doctorate admissions" %}</li>
{% endblock %}

{% block content %}

  <div class="page-header">
    <div class="row">
      <div class="col-md-12">
        <h2 class="d-inline-block">{% trans "Doctorate admissions" %}</h2>

        <!-- Create dropdown -->
        <div class="btn-group pull-right" style="margin-top:20px;">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            {% trans 'actions' %}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-large row text-right pull-right">
            <li>
              <a href="{% url 'admissions:doctorate-create' %}">
                {% trans "Create new doctorate admission" %}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">

      <form id="search_form">
        <div class="row">
          <div class="col-md-5">
            {% bootstrap_field filter.form.type %}
          </div>
          <div class="col-md-5">
            {% bootstrap_field filter.form.candidate %}
          </div>
          <div class="col-md-2">
            <br>
            <div class="btn-toolbar pull-right">
              <button type="submit" id="bt_submit_admission_doctorate_groups_search" class="btn btn-primary"
                      role="button">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>

              <a href="{% url 'admissions:doctorate-list' %}" class="btn btn-default">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
              </a>
            </div>
          </div>
        </div>
        {{ filter.form.media }}
      </form>
      <hr style="margin:10px -15px 10px -15px;">

      <div class="row">
        <div class="row">
          <div class="col-md-6">
            <strong style="margin-left:10px;color:grey;">
              {% blocktrans with start_index=page_obj.start_index end_index=page_obj.end_index total_counts=object_list_count %}
                {{ start_index }} to {{ end_index }} of {{ total_counts }} doctorate admissions{% endblocktrans %}
            </strong>
          </div>
          <div class="col-md-6">
            <button id="dLabel" class="btn btn-default pull-right" type="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    style="margin-right:10px;"
                    title="{% trans 'Export' %}">
              <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-large row text-right pull-right">
              <li>
                <a id="btn_produce_personnalized_xls"
                   class="download"
                   style="margin-right:10px;"
                   data-toggle="modal" data-target="#modalXlsAdmissionDoctorateListWithParameters"
                   title="{% trans 'Produce xls with a list of doctorate admissions' %}">
                  &nbsp;{% trans 'List of doctorate admissions' %}
                </a>
              </li>
              <li>
                <a id="btn_produce_xls_administrative_data"
                   class="download"
                   style="margin-right:10px;"
                   title="{% trans 'Produce xls of doctorate admissions with administrative data' %}">
                  &nbsp;{% trans 'List of doctorate admissions with administrative data' %}
                </a>
              </li>
            </ul>
            <form id="download_xls" action="{{ request.path }}" method="post">
              {% csrf_token %}
              <input type="hidden" id="xls_status" class="no_spinner" name="xls_status">
            </form>

            <div class="pull-right" style="margin-right: 10px"> {% base_pagination_size_select %} </div>
          </div>
        </div>

        <div class="table-responsive">
          <table id="table_admission_doctorate_groups" class="table table-striped table-hover" width="99.99%">
            <thead>
            <tr>
              <th id="th_0_type" width="7%">{% trans 'Type' %}</th>
              <th id="th_1_candidate" width="15%">{% trans 'Candidate' %}</th>
              <th id="th_2_comment">{% trans 'Comment' %}</th>
              <th id="th_3_author" width="15%">{% trans 'Author' %}</th>
              <th id="th_4_created" width="9%">{% trans 'Created' %}</th>
              <th id="th_5_modified" width="9%">{% trans 'Modified' %}</th>
            </tr>
            </thead>
          </table>
        </div>
        <div class="text-center">
          {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}

{% block script %}
    <script src="{% static "js/osis_datatable.js" %}"></script>
    <script>
        $(document).ready(function () {
            let columnDefs = [
                {
                  "name": "type",
                  "targets": 0,
                  "data": "type",
                  "render": function (data, type, row, meta) {
                    return outputAnchorOuterHtml(row["url"], data);
                  }
                },
                {"name": "candidate", "targets": 1, "data": "candidate"},
                {"name": "comment", "targets": 2, "data": "comment"},
                {"name": "author", "targets": 3,  "data": "author"},
                {"name": "created", "targets": 4, "data": "created"},
                {"name": "modified", "targets": 5, "data": "modified"},
            ];

            initializeDataTable(
             "search_form",
             "table_admission_doctorate_groups",
             "admissionDoctorateGroupIds",
             {{ page_obj.number }},
             {{ items_per_page }},
             "{% url 'admissions:doctorate-list' %}",
             columnDefs
            );
        });
    </script>
    <script src="{% static "js/sorting_dropdown_type.js" %}"></script>
{% endblock %}
