{% load static i18n admission %}
<!doctype html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ admission.reference }}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    {% get_first_truthy_value proposition.formation proposition.doctorat as formation %}
    <header>
      {% block header %}
        <div class="header-container">
          <div>
            <img src="{% static 'img/logo_uclouvain.png' %}" alt="{% translate "UCLouvain logo"%}"/>
          </div>
          <div>
            <p>{% translate 'Candidate:' %} {{ proposition.prenom_candidat }} {{ proposition.nom_candidat }}</p>
            <p>{% translate 'Academic year:' %} {{ formation.annee|get_academic_year }}</p>
            <p>{% translate 'Offer:' %} {{ formation.sigle }}</p>
            <p>{% translate 'Reference:' %} {{ proposition.reference }}</p>
            {% if proposition.soumise_le %}<p>{% translate 'Confirmation date:' %} {{ proposition.soumise_le|date:"SHORT_DATE_FORMAT" }}</p>{% endif %}
          </div>
        </div>
      {% endblock %}
    </header>
    {% block content %}
      <h1>{{ content_title }}</h1>
      {% if content_template_name %}
        {% include content_template_name %}
      {% endif %}
    {% endblock %}
  </body>
</html>
