{% extends 'admission/exports/base_pdf.html' %}
{% load i18n enums %}

{% block extra_head %}
  <style>
      @media print {
          .table th {
              background: #8ac3df !important;
          }
      }
  </style>
{% endblock %}


{% block content %}
  <div class="container">
    <table class="table table-bordered table-condensed">
      <tbody>
      <tr>
        <th class="info" colspan="2">{% trans "Data related to the thesis" %}</th>
      </tr>
      <tr>
        <td>{% trans "Doctorate" %}</td>
        <td>
          {% if LANGUAGE_CODE == 'en' %}
            {{ admission.doctorate.title_english }}
          {% else %}
            {{ admission.doctorate.title }}
          {% endif %}
        </td>
      </tr>
      {% if admission.thesis_institute %}
        <tr>
        <tr>
          <td>{% trans "Institute of the thesis" %}</td>
          <td>{{ admission.thesis_institute.title }}</td>
        </tr>
      {% endif %}
      {% if admission.proximity_commission %}
        <tr>
          <td>{% trans "Office" %}</td>
          <td>{{ admission.get_proximity_commission_display }}</td>
        </tr>
      {% endif %}
      {% if admission.thesis_institute %}
        <tr>
        <tr>
          <td>{% trans "Institute email" %}</td>
          <td>president-{{ admission.thesis_institute.acronym }}@uclouvain.be</td>
        </tr>
      {% endif %}
      {% if admission.financing_type == 'SEARCH_SCHOLARSHIP' %}
        <tr>
          <td>{% trans "Scholarship" %}</td>
          <td>{{ admission.scholarship_grant }}</td>
        </tr>
        <tr>
          <td>{% trans "Scholarship date" %}</td>
          <td>{{ admission.scholarship_start_date|date:'d/m/Y' }} - {{ admission.scholarship_end_date|date:'d/m/Y' }}</td>
        </tr>
        <tr>
          <td>{% trans "Scholarship proof" %}</td>
          <td>{{ admission.scholarship_proof }}</td>
        </tr>
      {% endif %}
      {% if admission.cotutelle %}
        <tr>
          <td>{% trans "Cotutelle" %}</td>
          <td>{{ admission.cotutelle_institution }}</td>
        </tr>
      {% endif %}
      </tbody>
      <tbody>
      <tr>
        <th colspan="2">{% trans "Identification" %}</th>
      </tr>
      <tr>
        <td>{% trans "Name" %}</td>
        <td>{{ admission.candidate.last_name }}</td>
      </tr>
      <tr>
        <td>{% trans "First name" %}</td>
        <td>{{ admission.candidate.first_name }}</td>
      </tr>
      <tr>
        <td>{% trans "Date of birth" %}</td>
        <td>{{ admission.candidate.birth_date|date:'d/m/Y' }}</td>
      </tr>
      <tr>
        <td>{% trans "Country of citizenship" %}</td>
        <td>{{ admission.candidate.birth_country }}</td>
      </tr>
      <tr>
        <td>{% trans "Sex" %}</td>
        <td>{{ admission.candidate.get_sex_display }}</td>
      </tr>
      <tr>
        <td>{% trans "Contact language" %}</td>
        <td>{{ admission.candidate.get_language_display }}</td>
      </tr>
      <tr>
        <td>{% trans "Email" %}</td>
        <td>{{ admission.candidate.email }}</td>
      </tr>
      <tbody>
      {% if contact_address %}
        <tr>
          <td colspan="2"><strong>&gt; {% trans "Contact details" %}</strong></td>
        </tr>
        <tr>
          <td>{% trans "Street" %}</td>
          <td>{{ contact_address.street }}</td>
        </tr>
        <tr>
          <td>{% trans "Street number" %}</td>
          <td>{{ contact_address.street_number }}</td>
        </tr>
        <tr>
          <td>{% trans "Postal box" %}</td>
          <td>{{ contact_address.box }}</td>
        </tr>
        <tr>
          <td>{% trans "Place" %}</td>
          <td>{{ contact_address.location }}</td>
        </tr>
        <tr>
          <td>{% trans "Zip code" %}</td>
          <td>{{ contact_address.zip_code }}</td>
        </tr>
        <tr>
          <td>{% trans "City" %}</td>
          <td>{{ contact_address.coty }}</td>
        </tr>
        <tr>
          <td>{% trans "Country" %}</td>
          <td>{{ contact_address.country }}</td>
        </tr>
        </tbody>
        <tbody>
      {% endif %}
      {% if residential_address %}
        </tbody>
        <tbody>
        <tr>
          <td colspan="2"><strong>&gt; {% trans "Legal residence" %}</strong></td>
        </tr>
        <tr>
          <td>{% trans "Street" %}</td>
          <td>{{ residential_address.street }}</td>
        </tr>
        <tr>
          <td>{% trans "Street number" %}</td>
          <td>{{ residential_address.street_number }}</td>
        </tr>
        <tr>
          <td>{% trans "Postal box" %}</td>
          <td>{{ residential_address.box }}</td>
        </tr>
        <tr>
          <td>{% trans "Place" %}</td>
          <td>{{ residential_address.location }}</td>
        </tr>
        <tr>
          <td>{% trans "Zip code" %}</td>
          <td>{{ residential_address.zip_code }}</td>
        </tr>
        <tr>
          <td>{% trans "City" %}</td>
          <td>{{ residential_address.coty }}</td>
        </tr>
        <tr>
          <td>{% trans "Country" %}</td>
          <td>{{ residential_address.country }}</td>
        </tr>
      {% endif %}
      <tr>
        <td>{% trans "Mobile phone" %}</td>
        <td>{{ admission.candidate.phone }}</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th colspan="2">{% trans "Diploma" %}</th>
      </tr>
      <tr>
        <td>{% trans "Title of diploma or training" %}</td>
        <td>{# TODO #}TODO</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th colspan="2">{% trans "Admission" %}</th>
      </tr>
      <tr>
        <td>{% trans "Type" %}</td>
        <td>{{ admission.get_type_display }}</td>
      </tr>
      {% if admission.comment %}
        <tr>
          <td>{% trans "Brief justification" %}</td>
          <td>{{ admission.comment|linebreaks }}</td>
        </tr>
      {% endif %}
      <tr>
        <td>{% trans "Pre-admission date" %}</td>
        <td>{{ admission.pre_admission_submission_date|date:'d/m/Y' }}</td>
      </tr>
      </tbody>
      <tbody>
      <tr>
        <th colspan="2">{% trans "Supervisory panel" %}</th>
      </tr>
      <tr>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Name" %}</th>
      </tr>
      {% for actor in admission.supervision_group.actors.all %}
        <tr>
          <td>{{ actor.supervisionactor.type|enum_display:"ActorType" }}</td>
          <td>{{ actor.person }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
